<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
  </head>
  <body>
    {% if current_user.is_authenticated %}
      <p>Bonjour, {{ current_user.username }}!</p>
      <a href="{{ url_for('menu') }}" class="button">Accéder au menu</a><br>
      <a href="{{ url_for('logout') }}">Se déconnecter</a>
    {% else %}
      <div class="container">
        <h1>Login</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <form action="/login" method="post">
          <label for="username">Nom d'utilisateur:</label>
          <input type="text" name="username" required><br>

          <label for="password">Mot de passe:</label>
          <input type="password" name="password" required><br>

          <button type="submit">Se connecter</button>
        </form>
        <br>
        <a class="url_for_register" href="{{ url_for('register') }}">Pas encore inscrit ? Inscrivez-vous ici</a>
      </div>
    {% endif %}
  </body>
</html>
