{% extends 'base.html' %}

{% block custom_css %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style_menu.css') }}"> -->
{% endblock %}

{% block content %}
<h2>Guide Utilisateur Medecin</h2>

<p>En tant que médecin, vous avez accès à trois fonctionnalités principales dans notre application :</p>

<ol>
    <li><strong>Prediction multiple :</strong> Grâce à cette fonctionnalité, vous pouvez télécharger un fichier CSV contenant les variables nécessaires à la réalisation des prédictions pour tous vos patients en une seule fois. Pour utiliser cette fonctionnalité, suivez les étapes suivantes :
        <ul>
            <li>Cliquez sur "Prediction multiple" dans le menu.</li>
            <li>Téléchargez votre fichier CSV contenant les informations de vos patients.</li>
            <li>Notre système va alors générer les prédictions pour tous vos patients en une seule fois.</li>
            <li>Les résultats seront disponibles dans la section "Historique".</li>
        </ul>
    </li>
    
    <li><strong>Prediction simple :</strong> En tant que médecin, vous pouvez également remplir la prédiction pour un patient spécifique en son nom. Voici comment faire :</li>
        <ul>
            <li>Accédez à la section "Prediction simple" dans le menu.</li>
            <li>Remplissez les informations requises pour le patient.</li>
            <li>Après avoir soumis les informations, la prédiction sera générée et vous pourrez la consulter dans la section "Voir les prédictions".</li>
        </ul>
    

    <li><strong>Historique :</strong> Cette fonctionnalité vous permet de voir une analyse des prédictions faites pour vos patients ou par vos patients. Elle vous donne une vue d'ensemble de la santé de vos patients basée sur leurs prédictions de santé.</li>
</ol>

<p>Enfin, lorsque vous avez terminé votre session, vous pouvez vous déconnecter en cliquant sur "Se déconnecter" dans le menu.</p>

<p>Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter à tout moment.</p>

    
{% endblock %}
