{% extends 'base_patient.html' %}
{% block custom_css %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_menu.css') }}"> -->
{% endblock %}

{% block content %}
<h1>Guide Utilisateur patient</h1>
        <p>
            Bienvenue dans notre application de santé prédictive. En tant que patient, vous avez accès à diverses fonctionnalités qui vous aideront à comprendre et à gérer votre santé de manière proactive. Voici un guide étape par étape sur la façon d'utiliser ces fonctionnalités :
        </p>
       
        <h2>Menu</h2>
        <ol start="2">
            <li>
                <strong>Menu principal :</strong> Une fois connecté, vous avez été dirigé vers ce menu principal. Ici, vous pouvez accéder à différentes sections de l'application.
            </li>
        </ol>
        <h2>Prédictions de santé</h2>
        <ol start="3">
            <li>
                <strong>Prédiction :</strong> Pour demander une prédiction, cliquez sur le bouton 'Prédiction' dans le menu. Vous devrez peut-être entrer certaines informations sur votre état de santé. Après avoir fourni ces informations, notre système de prédiction évaluera votre état de santé et fournira une prédiction. Veuillez noter que lorsque vous soumettez une prédiction, votre médecin attitré recevra également cette information par e-mail.
            </li>
        </ol>
        <h2>Déconnexion</h2>
        <ol start="4">
            <li>
                <strong>Se déconnecter :</strong> Pour vous déconnecter de l'application, cliquez sur 'Déconnexion' dans le menu.
            </li>
        </ol>
        <p>
            N'hésitez pas à contacter notre équipe de support si vous avez des questions ou rencontrez des problèmes. Nous sommes ici pour vous aider. Profitez de votre expérience avec notre application de santé prédictive.
        </p>

{% endblock %}
