{% extends 'base_patient.html' %}
{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_user_input.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
{% endblock %}

{% block content %}
<h1>Saisir les données pour la prédiction</h1>
<form action="/health/predict" method="post" class="prediction-form">

  <div class="input-group">
    <label for="PRG">PRG:</label>
    <div class="input-wrapper">
      <input type="number" name="PRG" placeholder="Exemple: 6" required>
    </div>
  </div>

 

  <div class="input-group">
    <label for="PRG">PL:</label>
    <div class="input-wrapper">
      <input type="number" name="PL" placeholder="Exemple: 148" required>
    </div>
  </div>

  


  <div class="input-group">
    <label for="PRG">PR:</label>
    <div class="input-wrapper">
      <input type="number" name="PR" placeholder="Exemple: 72" required>
    </div>
  </div>


  

  <div class="input-group">
    <label for="PRG">SK:</label>
    <div class="input-wrapper">
      <input type="number" name="SK" placeholder="Exemple: 35" required>
    </div>
  </div>


  

  <div class="input-group">
    <label for="PRG">TS:</label>
    <div class="input-wrapper">
      <input type="number" name="TS" placeholder="Exemple: 0" required>
    </div>
  </div>




  <div class="input-group">
    <label for="PRG">M11:</label>
    <div class="input-wrapper">
      <input type="number" name="M11" step="0.01" placeholder="Exemple: 36.6" required>
    </div>
  </div>

 

  <div class="input-group">
    <label for="PRG">BD2:</label>
    <div class="input-wrapper">
      <input type="number" name="BD2" step="0.001" placeholder="Exemple: 0.627" required>
    </div>
  </div>


  

  <div class="input-group">
    <label for="PRG">Age:</label>
    <div class="input-wrapper">
      <input type="number" name="Age" placeholder="Exemple: 50" required>
    </div>
  </div>




  <div class="input-group">
    <label for="PRG">Insurance:</label>
    <div class="input-wrapper">
      <input type="number" name="Insurance" placeholder="Exemple: 0" required>
    </div>
  </div>

  <button type="submit">Prédire</button>
</form>
{% endblock %}
