<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bienvenue</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_welcome.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Bienvenue sur notre application</h1>
      <div class="buttons">
        <a class="btn" href="{{ url_for('login_bp.login') }}">Se connecter</a>
        <a class="btn" href="{{ url_for('login_bp.register') }}">S'inscrire</a>
      </div>
    </div>
  </body>
</html>
